.image-box {
    border: 2px dashed black;
    height: 394px;
    width: 700px;
    margin-bottom: 30px;
}
.image-nav {
    border: 2px dashed black;
    height: 65px;
    width: 700px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    input {
        height: 50%;
        width: 250px;
    }
}